<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Home - Customer Relationship Manager</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="app-title">
            <div>
                <h1>
                    <i class="bi bi-house"> User home page</i>
                </h1>
                <p></p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="bi bi-house"></i></li>
                <li class="breadcrumb-item"><a href="#">User home page</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="tile">
                    <h3 class="tile-title">User home page</h3>
                    <div class="tile-body">
                        <div th:object="${user}">
                            Name:
                            <p th:text="*{name}"></p>
                            Email:
                            <p th:text="*{email}"></p>
                            Roles:
                            <p th:text="*{roles}"></p>
                            Active:
                            <p th:text="*{active}"></p>
                            Phone:
                            <p th:text="*{phone}"></p>
                            <div th:if="${user.office} != null">
                                <h4 class="tile-title">Office address</h4>
                                Country:
                                <p th:text="*{office.address.country}"></p>
                                State:
                                <p th:text="*{office.address.state}"></p>
                                City:
                                <p th:text="*{office.address.city}"></p>
                                Street:
                                <p th:text="*{office.address.street}"></p>
                                Pin code:
                                <p th:text="*{office.address.pincode}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tile">
                    <div class="tile-title-w-btn">
                        <h3 class="title">Notifications:</h3>
                    </div>
                    <div class="tile-body">
                        <ul>
                            <li th:each="notification : ${notifications}">
                                <div class="card mb-3 border-primary">
                                    <div class="card-body">
                                        <blockquote class="card-blockquote">
                                            <h5 th:text="${notification.content}"></h5>
                                            <footer>
                                                Created:
                                                <cite title="Source Title" th:text="${notification.created}"></cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-title-w-btn">
                        <h3 class="title">Contracts</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <td th:text="Title"></td>
                                <td th:text="Value"></td>
                                <td th:text="Created"></td>
                                <td th:text="Author"></td>
                                <td th:text="Filename"></td>
                                <td th:text="Accepted"></td>
                                <td th:text="Accept"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="contract : ${contracts}">
                                <td th:text="${contract.title}"></td>
                                <td th:text="${contract.value}"></td>
                                <td th:text="${contract.created}"></td>
                                <td th:text="${contract.author.name}"></td>
                                <td th:text="${contract.fileName}"></td>
                                <td th:text="${contract.accepted}"></td>
                                <td><a th:href="@{/contract/accept/{id}(id=${contract.id})}" th:text="Accept"></a>
                                    <a th:href="@{/contract/print/{id}(id=${contract.id})}" th:text="Print"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>