<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font/bootstrap-icons.min.css">
    <title>Customer Relationship Manager</title>
</head>
<body class="app sidebar-mini">
    <header class="app-header"><a class="app-header__logo" th:href="@{/}">CRM</a>
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar"></a>
        <ul class="app-nav">
            <li class="app-search">
                <input class="app-search__input" type="search" placeholder="Search">
                <button class="app-search__button"><i class="bi bi-search"></i></button>
            </li>
            <li class="dropdown"><a class="app-nav__item" href="#" data-bs-toggle="dropdown" aria-label="Show notifications"><i class="bi bi-bell fs-5"></i></a>
                <ul class="app-notification dropdown-menu dropdown-menu-right">
                    <li class="app-notification__title" th:text="'You have ' + ${#lists.size(notifications)} +' new notifications'"></li>
                </ul>
            </li>
            <li class="dropdown"><a class="app-nav__item" href="#" data-bs-toggle="dropdown" aria-label="Open Profile Menu"><i class="bi bi-person fs-4"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" th:href="@{/logout}"><i class="bi bi-box-arrow-right me-2 fs-5"></i>Logout</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="app-sidebar__overlay" data-toggle="sidebar">
        <aside class="app-sidebar">
            <div class="app-sidebar__user">
                <div>
                    <span class="app-sidebar__user-name" th:text="${user.name}"></span>
                    <span class="app-sidebar__user-designation" th:text="${user.authorities}"></span>
                </div>
            </div>
            <ul class="app-menu">
                <li><a class="app-menu__item" th:href="@{/}"><span class="app-menu__label">Home</span></a></li>
                <li><a class="app-menu__item" th:href="@{/employee/search}"><span class="app-menu__label">Employee search</span></a></li>
                <li><a class="app-menu__item" th:href="@{/manager/search}"><span class="app-menu__label">Manager search</span></a></li>
                <li><a class="app-menu__item" th:href="@{/client/add}"><span class="app-menu__label">Add client</span></a></li>
                <li><a class="app-menu__item" th:href="@{/admin/add}"><span class="app-menu__label">Add user</span></a></li>
                <li><a class="app-menu__item" th:href="@{/import}"><span class="app-menu__label">Import</span></a> </li>
                <li><a class="app-menu__item" th:href="@{/event/add}"><span class="app-menu__label">Add event</span></a></li>
            </ul>
        </aside>
    </div>
    <main class="app-content">
        <div layout:fragment="content"></div>
    </main>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>