<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/font/bootstrap-icons.css">
    <title>Registration - Customer Relationship Manager</title>
</head>
<body>
  <section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <h1>Customer Relationship Manager</h1>
    </div>
    <div class="login-box">
      <form class="login-form" th:action="@{/register}" th:object="${registrationForm}" method="post">
        <h3 class="login-head"><i class="bi bi-person me-2"></i>New User Registration</h3>
        <div class="mb-3">
          <label class="form-label">First name</label>
          <input class="form-control" type="text" placeholder="First name" th:field="*{firstName}">
          <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div class="mb-3">
          <label class="form-label">Last name</label>
          <input class="form-control" type="text" placeholder="Last name" th:field="*{lastName}">
          <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" type="email" placeholder="Email" th:field="*{email}">
          <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="mb-3">
          <label class="form-label">Phone number</label>
          <input class="form-control" type="text" placeholder="Phone number" th:field="*{phone}">
          <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input class="form-control" type="password" placeholder="Password" th:field="*{password}">
          <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="mb-3 btn-container d-grid">
          <button class="btn btn-primary btn-block"><i class="bi bi-unlock me-2 fs-5">Register</i></button>
        </div>
      </form>
    </div>
  </section>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>